/* 
    선택자 {속성 : 값; }
    ex) div{ font-size : 50px ; }
    1. 선택자 : 스타일을 적용할 대상 
        1-1 (기본): 태그 선택자
        1-2 (.): 클래스 선택자
        1-3 (# : id 선택자 
    2. 속성 : CSS의 종류
    3. 값   : CSS의 값


*/

div {
    font-size : 50 px ;
    color : blue ;
    text-decoration: underline;

}