/* 
overflow : 요소의 크기 이상으로 내용이 넘쳤을 때, 보여짐을 제어하는 단축 속성

    - visible   : (기본값) 넘친 내용을 그대로 보여줌 
    - hidden    : 넘친 내용을 잘라냄
    - scroll    : 넘친 내용을 자르고 스크롤바 생성
    - auto      : 넘친 내용이 있는 경우에만 잘라내고 스크롤바 생성 
*/


.parent{
    width : 200px ;
    height : 150px ;
    background-color: royalblue;
    margin: 20px;
    padding: 20px;
    overflow: auto;

}


.child{
    width :300px;
    height: 135.345px;
    background-color: orange;

}