/* 
padding : 요소의 내부 여백을 지정하는 단축속성

    - 0     : 내부 여백 없음
    - 단위  : px,em,vw등 단위로 지정
    - %     : 부모 요소의 가로 너비에 대한 비율로 지정 


*/

.container .item {
    width: 100px;
    height: 100px;
    background-color: orange;
    border: 4px solid red ; 
}

.container .item:first-child {
    padding: 20px;
}