/* 
display : Flex Container의 화면 출력 특성
    - flex          : 블록 요소와 같이 Flex container 정의
    - inline-flex   : 인라인 요소와 같이 Flex Container 정의 

flex-direction : 주 축을 설정 
    수평
    - row           : 행 축 (좌 -> 우) 
    - row-reverse   : 행 축 (우 -> 좌)
    수직
    - column        : 열 축 (위 -> 아래) ( 어짜피 위에서 아래로 쌓이기 떄문에  필요 없다. )
    - column-revers : 열 축 (아래- > 위) 

flex-wrap : Flex items 묶음(줄 바꿈) 여부 
    - nowrap    : 묶음 없음
    - wrap      : 여러 줄로 묶음 (사이즈에 맞게 줄바꿈을 한다.) 

justify-content : 주 축의 정렬 방법
    - flex-start    : Flex items를 시작점으로 정렬
    - flex-end      : Flex items를 끝점으로 정렬
    - center        : Flex items를 가운데 정렬

    **** 주 축을 바꾸는것과는 다르다 . 아이템 순서가 안 바뀐다. ****

align-content : 교차 축의 여러 줄 정렬 방법
    - stretch       : Flex items를 시작점으로 정렬
    - flex-start    : Flec items를 시작점으로 정렬
    - flex-end      : 끝점으로 정렬
    - center        : 가운데 정렬 

align-items : 교차 축의 한 줄 정렬 방법
    - stretch       : Flex items를 교차 축으로 늘림
    - flex-start    : Flec items를 각 줄의 시작점으로 정렬
    - flex-end      : 각 줄의 끝점으로 정렬
    - center        : 각 줄의 가운데 정렬 

*/

.container{
    width: 800px;
    height: 200px;
    background-color: royalblue;
    flex-direction: row-reverse;
    display: flex;
    flex-wrap: wrap;
}

.container .item {
    width: 100px;
    height: 100px;
    border: 3px dashed red;
    background-color: orange;
    box-sizing: border-box;
}