/* 



    trainsition (속성명 지속시간 타이밍함수 대기시간) : 요소의 전환효과를 지정하는 단축 속성 
        - property(속성명)      : 전환 효과를 사용할 속성 이름을 지정 
            all         -   모든 속성에 적용
            속성 이름    -  전환 효과를 사용할 속성 이름 명시 

        - duration              : 전환 효과의 지속시간을 지정
            0s          - 전환 효과 없음
            시간        - 지속시간(s)을 지정 

        - timing-function : 전환 효과의 타이밍 함수를 지정 
            ease        - 느리게 -> 빠르게 - > 느리게 
            linear      - 일정하게
            ease-in     - 느리게 -> 빠르게 
            ease-out    - 빠르게 -> 느리게
            ease-in-out - 느리게 -> 빠르게 - > 느리게 

        - transition-dealy : 전환 효과가 몇 초 뒤에 시작할지 대기시가능ㄹ 지정
            0s          - 대기시간 없음
            시간        - 대기시간(s)를 지정 




    */


div {
    width: 100px;
    height: 100px;
    background-color: orange;
    transition: 
    width 1s , 
    background-color 7s ; 
}

div:hover {
    width: 300px;
    background-color: royalblue;
}

