
/* 
auto    : 기본값 
단위    : px(가장 많이 씀), em , vw등 단위로 지정  
max-width , max-height : 요소가 커질 수 있는 최대 가로/ 세로 너비 


1. div 
    - 대표적인 블록요소 
    - width  : 부모 요소의 크기만큼 자동으로 늘어남 
    - height : 포함한 콘텐츠 크기만큼 자동으로 줄어든다. 
    
2. span
    - 대표적인 인라인 요소 
    - width  : 포함한 콘텐츠 크기 만큼 자동으로 줄어듬
    - height : 포함한 콘텐츠 크기만큼 자동으로 줄어듬 

3. 
*/
div {
    /* width : 100px; 
    height : 100px; */
    background-color : orange ;
}

span {
    background-color: skyblue;
}

.parent { 
    width: 400px;
    height: 200px ;
    background-color: royalblue;
}

.child{
    /* min을 쓰면 부모보다 커질 수 있다.  */
    min-width: 500px;
    height: 100px;
    background-color: orange;
}