/* 
margin : 외부 여백을 지정하는 단축 속성 
    - 0     : 외부 여백 없음
    - auto  : 브라우저가 여백을 계산 (가운데 정렬이다.) 
    - 단위  : px,em,vw 등 단위로 지정 
    - %     : 부모 요소의 가로 너비에 대한 비율로 지정  (극히 드물다.) 
    

    margin : 10px 20px ;
    -> 두개 작성하면 상하, 좌우 (앞뒤로 하나씩 적용)
    margin : 10px 20px 30px ;
    -> 3개면 상 좌우 하 
    margin : 10px 20px 30px 40px ;
    -> 4개면 상 하 좌 우

    margin-방향(개별속성) 을 통해 방향을 지정 할 수 있다. 

*/




.container {

}

.container .item {
    width: 100px ;
    height: 100px;
    background-color: orange;
    /* margin : 10px; */
    margin-bottom: 20px;
    /* margin : auto */
}