/* 
box-sizing : 요소의 크기 계산 기준을 지정
- content-box   : 요소의 내용으로 크기 계산
- border-box    : 요소의 내용 + padding + border 로 크기 계산 
    -> 이걸 사용시 안에 다 포함해서 크기 계산해서 사이즈 유지 가능 

*/

.item {
    width: 100px;
    height: 100px;
    background-color: orange;

}

.item:first-child{
    /* 보더와 패딩을 추가하더라도 크기를 같게 하고 싶다면 box-sizing 사용
    border-box를 사용하면 크기가 같다. 
    */
    box-sizing: border-box;
    border :4px solid red ;
    padding :20px ;
}