/* 
background-color : 요소의 배경 색상
    - transparent : 투명함
    - 색상          : 지정 가능한 색상

background-image    : 요소의 배경 이미지 삽입
    - none          : 이미지 없음
    - url("경로")   : 이미지 경로

background-repeat   : 요소의 배경 이미지 반복
    -repeat         : 이미지를 수직, 수평 반복
    - repeat-x      : 수평으로만 반복
    - repeat-y      : 수직으로만 반복
    - no-repeat     : 반복 x 

background-position : 요소의 배경 이미지 위치
    - 방향          : top, bottom, left, right, center 방향
    - 단위          : px, em, rem 등 단위로 지정 

background-size     : 요소의 배경 이미지 크기
    - auto          : 이미지의 실제 크기
    - 단위          : px,em,rem 등 단위로 지정
    - cover         : 비율을 유지, 요소의 더 넓은 너비에 맞춤
    - contain       : 비율을 유지, 요소의 더 짧은 너비에 맞춤

backgroun-attachment: 요소의 배경 이미지 스크롤 특성
    - scroll        : 이미지가 요소를 따라서 같이 스크롤
    - fixed         : 이미지가 뷰 포트에 고정, 스크롤 X


*/

body{
    height: 3000px;
}

div {
    margin: auto;
    height: 400px;
    background-color: whitesmoke;
    background-image: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}