/* 
border : 요소의 테두리 선을 지정하는 단축 속성

    - border-width : 선 두께
    - border-style : 선 종류
    - border-color : 선 색상 


*/


.container .item {
    width: 100px;
    height: 100px;
    background-color: orange;

}

.container .item:first-child{
    border: 10px solid red;
}